*.pyc
*.pyi
.audotenv/*
__pycache__/
.ipynb_checkpoints/
.vscode/
.env
.env.*
.venv/
venv/
.mypy_cache/
.pyright/
.roffle_cache/
.radon_cache/
.bandit/
.pip_audit/
.semgrep/
sqlite
*.sqlite*
*.db
*.log
sample/
*.sh
*.ipynb

docs/
dashboard/
out/
node_modules/